{% extends 'bar_pedro/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/cocktails.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block title %}Bar{% endblock %}

{% block content %}

<div class="content">
    <div class="greetings">
        <div class="hello">
            <h1>Voilá</h1>
            <h1 style="text-transform: capitalize; margin-left: 10px;">{{user.username}}</h1>
        </div>
    </div>
<div class="row">
    <div class="cocktail_option">
        <div class="info">
            <div class="name_image">
                <h1>{{ cocktails.cocktail }}</h1>
                <img src="/media/cocktails/espresso_martini.jpg" alt="cocktail-image">
            </div>
            <div class="details">
                <h2>Ingredients</h2><br> 
                <p>{{ cocktails.ingredients }}</p>
                <br><br>
                <h2>instructions</h2><br> 
                <p>{{ cocktails.instructions }}</p>
            </div>
        </div>
        <br><br>
        <form action="" method="post" class="tasteform">
            {% csrf_token %}
            <button type="submit" name="action" value="DMU" class="DMU" >Get me another one!</button>
            <button type="button" name="action" value="YES" data-toggle="modal" data-target="#myModal" class="done" >Made it!</button>
        </form>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">How was your experience with {{ cocktails.cocktail }} </h5>   
            </div>
            <div class="modal-body">
                <!-- Cocktail Form -->
                <form method="POST">
                    {% csrf_token %}
                    <input type="radio" id="0" name="rate" value="Hate it!">
                    <label for="hate">Hate it!</label><br>
                    <input type="radio" id="1" name="rate" value="Not bad!">
                    <label for="notbad">Not bad!</label><br>
                    <input type="radio" id="2" name="rate" value="Well, nice!">
                    <label for="nice">Well, nice!</label><br>
                    <input type="radio" id="3" name="rate" value="That's the one, loved!">
                    <label for="loved">That's the one, loved!</label><br>
                    <input type="text" name="comment" id="comment" placeholder="Add here your comment for future reference" >
                    <button type="submit" name="action" value="YES" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div> 
<!-- Include JQuery, Bootstrap JS for modal functionality -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

{% endblock %}