{% extends 'bar_pedro/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/cocktails.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block title %}Bar{% endblock %}

{% block content %}

<div style="display:block; margin-top:100px; margin-left: 10px">
    <div>
        <h1>{{cocktail.cocktail}}</h1>
    </div>  
    <div class="details" >
        {% if cocktail.image %}
            <img src="{{cocktail.image.url}}" alt="cocktail_image"><br><br>
        {% endif %}
        <p>ingredients:</p>
        <pre style="color: whitesmoke;">{{cocktail.ingredients|linebreaksbr }}</pre> <br><br>
        <p>Instructions:</p>
        <pre style="color: whitesmoke;">{{cocktail.instructions|linebreaksbr }}</pre> <br><br>
    </div>
    <div>
        <a href="{% url 'menu' %}"><button type="submit" class="button" >Cocktails list</button></a>
        <a href="{% url 'profile' %}"><button type="submit" class="button" >Bar</button></a>
    </div>
</div>


{% endblock %}