{% extends 'bar_pedro/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/landing_page.css' %}">
{% endblock %}
{% block title %}Cocktails List{% endblock %}
{% block content %}
<div style="display:block; margin-top:100px; margin-left: 10px">
    <div>
        <h1>Cocktails List</h1>
    </div>  
    <div>
        {% for x in menu %}
            <ul><li><a href="{% url 'profile' %}">{{x.cocktail}}</a></li></ul>
        {% endfor %}
    </div>
</div>

{% endblock %}