
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* Reset some default margins and paddings */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
/* Set fluid layout base */
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

/* Example breakpoint for tablets */
@media (min-width: 768px) {
    /* Styles for medium devices */
  }
  
  /* Example breakpoint for desktops */
  @media (min-width: 1024px) {
    /* Styles for larger screens */
  }


body {
    background-image: url("Background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    height: 100vh;
}

body h1 {
    font-size: 2em;
}

body p {
    font-size: 1em;
}

.login-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 0;
    margin-top: 80px;
    
}

.login-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}

.google_btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginpage-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

a.agoogle-lgn {
    display: flex;
    text-decoration: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    background-color: #d19b4e;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 5px;
}

.google-icon {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.join-us-btn {
    display: flex;
    justify-content: center;
    color: whitesmoke;
    background: #d19b4e;
    padding: 10px 20px;
    border: none;
    border-radius: 16px;
    text-align: center;
    font-size: .8rem;
    margin-left: .5rem;
    width: 128px;
    margin-top: 1rem;
    cursor: pointer;
    transition: all .55s ease;
}

.join-us-btn:hover {
    background: limegreen;
    color: #292929;
    transform: translateX(4px)
}

img {
    width: 100%;

}

.login-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 0;
    margin-top: 80px;
    overflow: hidden;
}

.quote-small {
    font-size: 1rem;
    font-weight: 500;
    color: white;
    display: flex;
    justify-content: center;
}


.quote-text {
    font-size: 3rem;
    font-weight: 700;
    color: white;
    text-align: center;
    margin: 20px;
    line-height: 1;
}

.login-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    flex-direction: column;
    background-color: whitesmoke;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0px 5px 12px #292929;
    width: 300px;
}

.form-group {
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: #292929;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder,
input[type="email"]::placeholder {
    color: #292929;
}


.login-btn {

    display: flex;
    justify-content: center;
    align-items: center;
}

div.google-login-btn button {
    width: fit-content;
}


button {
    font-size: 16px;
    background-color: #d19b4e;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin: auto;
}

.links {
    text-decoration: none;
}

.links a {
    color: white;
    font-weight: 500;
}

.password-reset {
    font-size: 16px;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    background: black;
    border-radius: 20px;
    color: white;

}

.password-reset a {
    text-decoration: none;
}


.reset-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
}

.delete {
    font-size: 16px;
    background-color: #fc0404ec;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin: auto;
}





